.bg-light {
    background-color: #11d3e0!important;
}


.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}


.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: nowrap;

}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


.nav-link {
    display: block;
    padding: .5rem 1rem;
}